:root {
  --heading-h2-bold-font-family: "CeraPRO-Bold", Helvetica;
  --heading-h2-bold-font-size: 20px;
  --heading-h2-bold-font-style: normal;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-letter-spacing: 0px;
  --heading-h2-bold-line-height: 28px;
  --heading-h5-bold-font-family: "OpenSans-Bold", Helvetica;
  --heading-h5-bold-font-size: 13px;
  --heading-h5-bold-font-style: normal;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-letter-spacing: 0px;
  --heading-h5-bold-line-height: 16px;
  --label-1-regular-font-family: "OpenSans-Regular", Helvetica;
  --label-1-regular-font-size: 14px;
  --label-1-regular-font-style: normal;
  --label-1-regular-font-weight: 400;
  --label-1-regular-letter-spacing: 0px;
  --label-1-regular-line-height: 16px;
  --struct-000: rgba(255, 255, 255, 1);
  --struct-200: rgba(224, 227, 231, 1);
  --struct-300: rgba(194, 199, 207, 1);
  --struct-700: rgba(81, 96, 116, 1);
  --struct-900-sievo: rgba(27, 50, 75, 1);
}
